body {
    font-family: cursive;
    margin: 20px;
    padding: 0;
    background-color: rgb(240, 169, 205);
}

form {
    margin: auto;
    background-color: rgb(216, 182, 236);
    border-radius: 8px;
    box-shadow: 0 4px 8px darkblue;
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    border: 2px solid honeydew;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(238, 207, 207);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border: 1px solid darkcyan;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 100%;
    background-color: rgb(66, 84, 92);
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
    cursor: pointer;
}

button :hover {
    color: darkgoldenrod;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5)
}   
   
 h2 {
    color: black;
}
